<!doctype html>
<html> 
    <head></head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>Home</li>
                    <li>Archive</li>
                    <li>About</li>
                    <li>Contact</li>
                </ul>
            </nav>
            <div>
                <h1>The Title</h1>
                <p>First paragraph, ha ha ha.</p>
            </div>
        </header>
        <!-- comment -->
        <!-- comment -->
        <main>
            <article>
                <h3>Hello Everyone</h3>
                <h4>Joey Suen</h4>
                <h5>April 7, 2021</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at urna in quam ultrices aliquam at vulputate ante. Donec eget sapien lorem. Nulla enim est, elementum nec libero nec, aliquet dignissim quam. Pellentesque accumsan aliquam eleifend. Integer semper facilisis mauris eu consectetur. Duis congue lorem non pharetra lobortis. Donec consectetur tellus et viverra finibus. Fusce ultricies metus mauris, ut sodales orci elementum vitae. Nam ut mollis odio. Donec fermentum in massa nec ultrices. Aenean nec nibh sagittis sapien lobortis porta. Proin feugiat lacinia purus eget consectetur. Cras risus nisi, viverra quis leo in, dapibus malesuada magna. Suspendisse maximus iaculis tincidunt.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at urna in quam ultrices aliquam at vulputate ante. Donec eget sapien lorem. Nulla enim est, elementum nec libero nec, aliquet dignissim quam. Pellentesque accumsan aliquam eleifend. Integer semper facilisis mauris eu consectetur. Duis congue lorem non pharetra lobortis. Donec consectetur tellus et viverra finibus. Fusce ultricies metus mauris, ut sodales orci elementum vitae. Nam ut mollis odio. Donec fermentum in massa nec ultrices. Aenean nec nibh sagittis sapien lobortis porta. Proin feugiat lacinia purus eget consectetur. Cras risus nisi, viverra quis leo in, dapibus malesuada magna. Suspendisse maximus iaculis tincidunt. 
                </p>
            </article>
            <!-- <span>I am span</span>
            <span>I am another span</span> -->
        </main>
    </body>
</html>